{% extends "userinfo/base.html" %}

{% block content %}
<h2>Login</h2>

    {% if form.errors %}
    <div class="alert alert-danger">
        Incorrect username or password.
    {% else %}
       <p>Please use the form below to log in.</p> 
    </div>
    {% endif %}
    <form action="{% url 'userinfo:login' %}" method="POST">
        {% csrf_token %}
        {% for field in form %}
            {%  include "userinfo/_form_input.html" %}
        {% endfor %}
        <input type="hidden" name="next" value="{{next}}">
        <button type="submit"  class="btn btn-primary">Login</button>
    </form>
{% endblock content %}
