{% extends "userinfo/base.html" %}


{%block content %}
<div class="jumbotron">
    <div class="col-md-8 col-md-offset-2">
        <h2 style="color:black;background:white;text-align:center;padding-top:70px;">Thank You for Registering with SpamMaster3000.  </h2><br><br><br><br>
            
<p style="color:black">You must Login to access your account and view or post spam.</p><br>      
<p style="color:black">SpamMaster3000 is the internet's #1 source for needless information.</p><br>
        
            {% csrf_token %}

 <form action="/login/">
    <input type="submit" class="btn btn-danger btn-large" value="Click Here to Login!!!">         
 </form>
        </div>
    </div>
</div>


{% endblock content %}
