{% extends 'userinfo/base.html' %}
{% load staticfiles %}


{% block title %}
  {{ block.super }} - Home
{% endblock %}

{% block content_classes %}
    {{block.super}} index-content
{% endblock content_classes %}

{% block content %}

  <div class="row">
    <div class="col-md-12">
      <h2>User List</h2>
    </div>
  </div>
  {% for x in user_list %}
  <div class="row">
    <div class="col-md-8 col-md-offset-2">
   
            
              <h3>{{x.get_username}}</h3>
            </div>
            <div class="user-message-body-wrapper">
              <div class="panel-body">
                <a href="http://localhost:8000/users/{{x.pk}}/">... see all {{x.get_username}}'s spam</a>
                </a>
              </div>
            </div>
        </div>
    </div>
  </div>
  {% endfor %}



{% endblock %}
